# Dealing with Data Spring 2020 – Class 3

---

# If, Elif, Else Exercise, Cont'd

1. You need to be 21 years old and above to drink alcohol. Write a conditional expression that checks the age, and prints out whether the person is allowed to drink alcohol, and, if not, how many years until they can drink alcohol. <br>
<br>
2. You need to be 16 years old and above to drive. If you are above 16, you also need to have a driving license. Write a conditional expression that checks the age and prints out: (a) whether the person is too young to drive, (b) whether the person satisfies the age criteria but needs a driving license, or (c) the person can drive. <br>
<br>
3. You need to be above 18 and a US Citizen to be able to vote. You also need to be registered. Write the conditional expression that checks for these conditions and prints out whether the person can vote. If the person cannot vote, the code should print out the reason (below 18, or not a US citizen, or not registered, or a combination thereof). <br>
<br>
4. You qualify for US citizen if any of the following holds: (a) Your parents are US Citizens and you are under 18, (b) You have been born in the US. Write the conditional expression that checks if a person is eligible to become a US citizen. If the person is not eligible, the code should print out the reason.

# Solution(s)

In [ ]:
# prompt 1

age = 20

if age >= 21:
    print("You are above 21, you can drink")
else:
    print("You are too young. Wait for", 21-age, "years")

# can also use age = input() to make this dynamic. E.g: 

# print("How old are you?")
# age = input()

In [ ]:
# prompt 2

age = 18
has_driving_license = False

if age<16:
    print("You are too young to drive")
else:
    if has_driving_license:
        print("You can drive")
    else:
        print("You are old enough to drive, but you need a driving license")

# can also use age = input() to make this dynamic. E.g: 

# print("How old are you?")
# age = input()

In [ ]:
# prompt 3

age = 15
us_citizen = False
registered = True

if age >= 18 and us_citizen and registered:
    print("You can vote")
else:
    print("You cannot vote")
    # now let's explain our reasoning
    if age < 18:
        print("You are below 18")
    if not us_citizen:
        print("You are not a US citizen")
    if not registered:
        print("You are not registered")

# can also use age = input() to make this dynamic. E.g: 

# print("How old are you?")
# age = input()

In [ ]:
# prompt 4

age = 16
parents_citizens = True 
born_in_us = False

if (age<18 and parents_citizens) or born_in_us:
    print("You can become a US citizen")
else: # none of the conditions were true
    if not born_in_us:
        print("You were not born in the US")
    if not (age<18 and parents_citizens):
        print("You need to be below 18 and your parents need to be citizens")

# can also use age = input() to make this dynamic. E.g: 

# print("How old are you?")
# age = input()

---

# ⭕ **QUESTIONS?**

---

# String Formatting

Often you'll want to embed variable information into strings, sometimes with special formatting constraints. One way to do that is using `.format()`

In [ ]:
print('Coordinates: {latitude}, {longitude}'.format(latitude='37.24N', longitude='115.81W'))

Or, you can make the parameter values variables:

In [ ]:
lat = '37.24N'
lon = '115.81W'

print('Coordinates: {latitude}, {longitude}'.format(latitude=lat, longitude=lon))

In [ ]:
lat = '37.24N'
lon = '115.81W'

print('Latitude: {latitude}, Longitude: {longitude} ==> [{latitude}, {longitude}]'
      .format(latitude=lat, longitude=lon))

In [ ]:
print("Coordinates:",lat,lon)

---

# ⭕ **QUESTIONS?**

---

# Formatting Decimal Numbers

In [ ]:
# let's see what happens if we use a placeholder:

print("Result: {num}".format(num=100000/23))

In [ ]:
# now we specify the type of "num" and we say it will be a floating point (f)
# notice that we got a smaller number of decimal digits.

print("Result: {num:f}".format(num=100000/23))

# notice that we get a total of 8 characters by default, including the decimal point

In [ ]:
# now let's specify that we have 10 characters available.

print("Result: {num:.2f}".format(num=100000/23))

In [ ]:
# what if we want to keep 6 digits for the whole number, out of which 3 are for the decimals

print("Result: {num:6.3f}".format(num=100000/23))

In [ ]:
# or 8 digits, 5 for decimals

print("Result: {num:8.5f}".format(num=100000/23))

---

# ⭕ **QUESTIONS?**

---

# Extra Options: Comma-Separated Thousands, Zero Padding

In [ ]:
# 16 digits total and 4 decimal digits, with comma-separated thousands

print("Result: {num:16,.4f}".format(num=1000000/7))

In [ ]:
# same example without the comma-separator

print("Result: {num:16.4f}".format(num=1000000/7))

In [ ]:
# keep six digits for the whole number, out of which 3 for the decimals, with zero padding in front

print("Result: {num:07.3f}".format(num=100/23))

In [ ]:
# floating point with three seven digits

print("Result: {num:.7f}".format(num=100/23))

---

# ⭕ **QUESTIONS?**

---

# Percentages

In [ ]:
# to express a percentage, we use % instead of f
# let's ask for 7 total characters and two decimals

correct = 19
total = 22

print('Correct answers: {result:7.2%}'.format(result=correct /total))

# note that the 7 characters includes the % sign and the decimal point
# also, our number only has 2 digits in the integer, so we get an empty space out front

---

# ⭕ **QUESTIONS?**

---

# Complex Data Structures: Lists and Tuples


We have covered in detail much of the basics of Python’s primitive data types: numeric types, strings, and booleans. 
We are now going to examine how these basic types can be composed together, in more complex structures. 

Let's begin with lists.

# List Basics:

A list, sometimes called an array, or a vector, is an ordered collection of values. 

In Python, lists are specified by square brackets, `[ ]`, containing zero or more values, separated by commas. 

For example:

In [ ]:
number_list = [1, 2, 3, 0, 5, 10, 11]

print(number_list)

In [ ]:
name_list = ["Panos", "Maria", "Anna", "James"]

print(name_list)

In [ ]:
mixed_list = ["Panos", 42, "Anna", 22]

print(mixed_list)

In [ ]:
empty_list = []

print(empty_list)

Lists are a very  common data structure, and are often generated as a result of other functions, for instance, the `split(" ")` command for a string, will split a string on space, and then return a list of the smaller substrings.

In [ ]:
my_string = "Wow these data structures make for exciting dinner conversation"

list_of_words = my_string.split(" ")

print(list_of_words)

# Accessing Parts of a List: Indexing and Slicing, Revisited


We can retrieve the value of a particular element of a list by writing in square brackets the location of the element. In Python, like most programming languages, list indices start at 0, that is, to get the first element in a list, request the element at index 0.

In [ ]:
another_list = ["a", "b", "c", "d", "e", "f"]

print(another_list[1])

Negative indices can be used to traverse the list from the right.

In [ ]:
print(another_list[-2])

If you remember the case with strings and accessing the individual characters, the concept is exactly the same. In fact, strings are treated in Python as lists of characters.

This also means that the slicing operator works for accessing parts of the list as well:

In [ ]:
# the below code retrieves the elements at positions 2, 3, and 4
# remember these are the 3rd, 4th, and 5th elements of the list

print(another_list[2:5])

In [ ]:
# the below code retrieves the last 3 elements of the list

print(another_list[-3:])

---

# ⭕ **QUESTIONS?**

---

# Exercise 2

You are given a list of names as one big, multiline string. Each line contains one name.

In [ ]:
names_string = '''Jacob Adams 
Emily Brown
Michael Campbell
Madison Davis
Andrew Edwards
Olivia Flores
David Garcia
Sophia Ingram
Nathan Jones
Natalie King'''

* Use the `split` command, appropriately configured, to separate `names` into a list of names. 
* Extract the 3rd name from the list
* Extract the second from the last name, using negative indexing
* Retrieve the 6th to 8th names from the list (inclusive, we want a list of 3 names, 6th, 7th, and 8th)
* Retrieve the last 3 names.

In [ ]:
# Your code here

# Solution

In [ ]:
# use the split command to separate names into a list of names.
# we use the newline character to split the string into one element per *line*

names = names_string.split("\n")

print(names)

In [ ]:
# extract the 3rd name from the list

print(names[2])

In [ ]:
# extract the second from the last name, using negative indexing

print(names[-2])

In [ ]:
# retrieve the 6th to 8th names from the list (inclusive, we want a list of 3 names, 6th, 7th, and 8th)

print(names[5:8])

In [ ]:
# retrieve the last 3 names

print(names[-3:])

---

# Functions that Apply to Lists

### Common Functions

* `len`: The function `len(list)` returns the number of elements in a list.
* `sorted`: The function `sorted(list)` Returns the list sorted
* `max`: Returns the maximum element of a list
* `min`: Returns the minimum element of a list
* `sum`: The function `sum(list)` sums up all the (numeric) elements of a list

In [ ]:
names = ["Panos", "John", "Chris", "Josh", "Mary", "Anna"]

In [ ]:
print("Length of names list:", len(names))

In [ ]:
numbers = [3, 41, 12, 9, 74, 15]

In [ ]:
print("Length of numbers list:", len(numbers))

In [ ]:
names = ["John", "Panos", "Chris", "Josh", "Mary", "Anna"]

print("Sorted List:", sorted(names))
print("Original List:", names)

In [ ]:
print("Sorted List:", sorted(numbers))
print("Original List:", numbers)

In [ ]:
print("We have ", len(numbers), "numbers")
print("Max number:", max(numbers))
print("Min number:", min(numbers))
print("Sum:", sum(numbers))

In [ ]:
# min and max also operate on strings

print("Min name:", min(names))
print("Max name:", max(names))

---

# Exercise 3


* Write code that computes the average value of a list of numbers, with formatting to two digits after the decmial.
* Write code that computes the median value of a list of numbers (for simplicity, assume the list contains an odd number of items)

In [ ]:
numbers = [3, 41, 12, 9, 74, 15, 5]

# your code here

# Solution

In [ ]:
print("The average is {average:.2f}".format(average = sum(numbers)/len(numbers)))

In [ ]:
sorted_list = sorted(numbers)

# notice that we use integer division below as the index value needs to be an integer

middle = len(numbers) // 2
median = sorted_list[middle]

print("Sorted List:", sorted_list)
print("The median is at position ", middle)
print("The value of the median is",  median)

---

# ⭕ **QUESTIONS?**

---

# Adding / Removing Elements To / From a List

### Appending items at the end of a list

+ `list.append(x)`: add an element ot the end of a list
+ `list_1.extend(list_2)`: add all elements in the second list to the end of the first list. Alternatively, it is possible to use the `+` and concatenate two lists.

In [ ]:
# append

name_list = ["Panos", "John", "Chris", "Josh", "Mary", "Anna"]
name_list.append("Elena")
name_list.append("Sofia")

print(name_list)

In [ ]:
# extend 

name_list = ["Panos", "John", "Chris", "Josh", "Mary", "Anna"]
names_to_add = ["Elena", "Sofia"]

name_list.extend(names_to_add)

print(name_list)
print("Length of list:", len(name_list))

In [ ]:
# list concatenation, similar to "extend"

name_list = ["Panos", "John", "Chris", "Josh", "Mary", "Anna"]
names_to_add = ["Elena", "Sofia"]
new_list = name_list + names_to_add

print(new_list)

In [ ]:
# notice that 'append' will not work as expected when we pass a list
# we now created a "nested" list (we'll discuss this more later)

name_list = ["Panos", "John", "Chris", "Josh", "Mary", "Anna"]
names_to_add = ["Elena", "Sofia"]

name_list.append(names_to_add)

print("APPEND list:", name_list)
print("Length of APPEND list:", len(name_list))

# notice that the two lists, created by append and extend, have different lengths

name_list = ["Panos", "John", "Chris", "Josh", "Mary", "Anna"]
names_to_add = ["Elena", "Sofia"]

name_list.extend(names_to_add)

print("EXTEND list:", name_list)
print("Length of EXTEND list:", len(name_list))

---

# ⭕ **QUESTIONS?**

---

# Exercise 4


* Find out how many names we have in the list of names `names_list` that is the list that we created earlier, from the `names_string` multiline string.
* Add the name `"Mia Lopez"` in the list of names
* Add the list of names `["John Miller", "Jane Nelson"]` in the list of names, using the `extend` command

In [ ]:
names_list = [
    
    'Jacob Adams', 'Emily Brown', 'Michael Campbell', 'Madison Davis',
    'Andrew Edwards', 'Olivia Flores', 'David Garcia', 'Sophia Ingram',
    'Nathan Jones', 'Natalie King'
    
]

In [ ]:
# your code here

# Solution

In [ ]:
print("The list contains", len(names_list), "names")

In [ ]:
new_name = "Mia Lopez"
names_list.append(new_name)

print(names_list)
print("The list contains", len(names_list), "names")

In [ ]:
names_to_add = ["John Miller", "Jane Nelson"]
names_list.extend(names_to_add)

print(names_list)
print("The list contains", len(names_list), "names")

---

# Inserting and Removing Items in the List


* `list.insert(index, x)`: insert element x into the list at the specified index. Elements to the right of this index are shifted over
* `list.pop(index)`: remove the element at the specified position

In [ ]:
names_list = [
    
    'Jacob Adams', 'Emily Brown', 'Michael Campbell', 'Madison Davis',
    'Andrew Edwards', 'Olivia Flores', 'David Garcia', 'Sophia Ingram',
    'Nathan Jones', 'Natalie King'
    
]

In [ ]:
# insert Jose Hernandez in position 7

names_list.insert(7, 'Jose Hernandez')

print(names_list)

In [ ]:
# it is there

print(names_list[7])

In [ ]:
# we can retrieve the element with pop, and then delete it from the list

names_list.pop(7)

In [ ]:
# name at position 7 changed

print(names_list[7])

In [ ]:
# if we repeat the operation with pop, we will get back the new name that is now in that location

names_list.pop(7)

In [ ]:
# name at position 7 changed

print(names_list[7])

---

# ⭕ **QUESTIONS?**

---

# Finding Items in Lists

### Common functions

* `x in list`: checks if `x` appears in the list 
* `list.index(x)`: looks through the list to find the specified element, returning it's position if it's found, else throws an error
* `list.count(x)`: counts the number of occurrences of the input element

In [ ]:
names = ["Panos", "John", "Chris", "Josh", "Mary", "Anna", "John"]

In [ ]:
"Chris" in names

In [ ]:
"Peter" in names

In [ ]:
# index

name = 'Chris'

print("Location of", name, "in the list:", names.index(name))

In [ ]:
# count

print("# of John  in the list", names.count("John"))
print("# of Panos in the list", names.count("Panos"))
print("# of Peter  in the list", names.count("Peter"))

---

# Exercise 5


* Find the name "Josh" in the list. In what position does the name appear?
* Try to find a name that does not exist in the list. What do you get?

Now let's practice the `if-else` command:

* Define a variable `search` with the name that you want to search for.
* Check if the name appears in the list
    * If yes, then return the index number for its first apperance, and the number of times that you see the name in the list
    * If not, print that the name does not appear in the list

In [ ]:
names = ["Panos", "John", "Chris", "Josh", "Mary", "Anna", "John"]

In [ ]:
# your code here

# Solution

In [ ]:
search = 'John'

if search in names:
    location = names.index(search)
    count = names.count(search)
    print("The name", search, "appears", count, "time(s)")
    print("First appearance at location", location)
else:
    print("The name", search, " does not appear in the list")

---

# Exercise 6

Let's apply some of the things that we learned so far in the article below.

In [ ]:
washington_post = """Russian officials vehemently defended the country s airstrikes in Syria on Thursday as blows to Islamic State militants even as evidence mounted suggesting that U S backed rebels and others were facing the brunt of Moscow s attacks 
And while Russian officials and diplomats rallied behind President Vladimir Putin the Kremlin s stance appeared further clouded by acknowledgments that the missions have already extended beyond solely the Islamic State 
In Paris the Russian ambassador to France Alexander Orlov said the Russian attacks also targeted an al Qaeda linked group Jabhat al Nusra or al Nusra Front 
Syrias ambassador to Russia Riad Haddad echoed that the joint hit list for Russia and the Syrian government included Jabhat al Nusra which is believed to have some coordination with the Islamic State but is still seen mostly as a rival 
We are confronting armed terrorist groups in Syria regardless of how they identify themselves whether it is Jabhat al Nusra the ISIL or others he said using one of the acronyms for the Islamic State 
They all are pursuing ISIL ends he added according to the Interfax news agency 
The ambassadors did not specifically mention any U S and Western backed rebel groups 
But the comment was certain to deepen suspicions by Washington and allies that Putin s short term aim is to give more breathing space to Syria s embattled President Bashar al Assad whose government is strongly supported by Moscow 
Syrian activists meanwhile ramped up their own claims that Moscow was hitting groups seeking to bring down Assad who has managed to hang on during more than four years of civil war 
Russia s expanding military intervention in Syria added urgency to separate efforts by Russia and U S officials to coordinate strategies against the Islamic State and avoid potential airspace missteps between the two powers so called deconfliction talks The Pentagon said the discussions will begin Thursday 
One monitoring group the Britain based Syrian Observatory for Human Rights said Russian airstrikes again struck strongholds of an American backed rebel group Tajamu Alezzah in central Hama province 
The actions quickly criticized by Washington add an unpredictable element to a multilayered war 
The observatory also reported that airstrikes hit the northwestern city Jisr al Shughour which is in the hands of rebel groups including al Nusra after battles last month to drive back Assad s forces 
Among the locations hit was a site near Kafr Nabl the northern Syrian town whose weekly protests against the government often featuring pithy slogans in English won it renown as a symbol of what began as a peaceful protest movement against the Assad regime The local council receives U S assistance and the rebel unit there has received support under a covert CIA program aimed at bolstering moderate rebels 
Raed Fares one of the leaders of the protest movement in Kafr Nabl said warplanes struck a Free Syrian Army checkpoint guarding Roman ruins on the outskirts of the town He said the explosion was bigger than anything local residents had seen in three years of airstrikes conducted by Syrian warplanes 
It made a fire six kilometers wide he told The Washington Post 
Other sites hit on the second day of Russian bombing included locations in the province of Hama The targets suggested the main intention of the strikes was to shore up government control over a corridor of territory linking the capital Damascus to the Assad family s coastal heartland where the Russians are operating out of an expanded air base 
Syrian rebels some of them U S backed had been making slow but steady gains in the area considered one of the government s biggest vulnerabilities There has been no Islamic State presence there since January when moderate rebels rose up against the extremists and forced them to retreat to eastern Syria 
In Washington Sen John McCain R Ariz told CNN he could absolutely confirm that airstrikes hit Western backed groups such as the Free Syrian Army and other factions armed and trained by the CIA 
We have communications with people there said McCain chairman of the Senate Armed Services Committee 
The accounts could not be independently assessed but the main focus of the Russian attacks appeared to be in areas not known to have strong Islamic State footholds 
In Moscow the reply was blunt 
Total rubbish Gennady Zyuganov a member of parliament and leader of Russia s Communist Party said of the U S accusations 
In televised remarks Thursday Putin called accusations that Russian airstrikes had killed civilians in Syria information attacks 
He also addressed concerns about an accidental military clash between Russian and U S led coalition forces saying that his intelligence and military agencies were establishing contacts with counterparts in the United States 
This work is ongoing and I hope that it will conclude with the creation of a regularly acting mechanism he said 
A spokesman for Russia s Defense Ministry Igor Konashenkov said Thursday that warplanes hit a dozen Islamic State sites in the past hours destroying targets including a command center and two arms depots 
The United States and Russia agree on the need to fight the Islamic State but not about what to do with the Syrian president The Syrian civil war which grew out of an uprising against Assad has killed more than people since March and sent millions of refugees fleeing to countries in the Middle East and Europe 
Accusing Russia of pouring gasoline on the fire Defense Secretary Ashton B Carter vowed that U S pilots would continue their year long bombing campaign against the Islamic State in Syria despite Moscow s warning that American planes should stay away from its operations 
I think what they re doing is going to backfire and is counterproductive Carter said on Wednesday 
Yet Russia s military flexing in Syria brought quick overtures from neighboring Iraq where the Islamic State also holds significant territory but the government is within Washington s fold 
Iraq s prime minister Haider al Abadi told France that he would welcome Russia joining the U S led airstrikes against Islamic State targets but there have been no specific discussions 
Joining the protests against the Russian airstrikes was Saudi Arabia a leading foe of Assad and one of Washington s top Middle East allies 
At the United Nations late Wednesday the Saudi ambassador Abdallah al Mouallimi demanded that the Russian air campaign stop immediately and accused Moscow of carrying out attacks in areas outside the control of the Islamic State 
In Iran Assad s main regional backer Foreign Ministry spokeswoman Marzieh Afkham called Russia s military role a step toward resolving the current crisis in Syria """

* What is the length of the document above in characters? In words? In paragraphs (we have one paragraph per line)? <br> <br>
* What is the average length of a paragraph in words? <br> <br>
* What is the average length of a word in characters? (Remember that the document contains spaces and newlines, that should not count as parts of a word)

In [ ]:
# your code here

# Solution

In [ ]:
len_characters = len(washington_post)
print("There are", len_characters, "characters")

In [ ]:
words = washington_post.split()
len_words = len(words)
print("There are", len_words, "words")

In [ ]:
paragraphs = washington_post.split('\n')
len_paragraphs = len(paragraphs)
print("There are", len_paragraphs, "paragraphs")

In [ ]:
words_per_paragraph = len_words / len_paragraphs
print(f"There are {words_per_paragraph:.2f} words per paragraph")

In [ ]:
# the document contains spaces and newlines, which should not be counted
# if you compute the average word length as len_characters/len_words you will get 6.07, which is incorrect

len_letters_only = len_characters - washington_post.count(" ") - washington_post.count("\n")
letters_per_word = len_letters_only / len_words

print(f"There are {letters_per_word:.2f} letters per word")

In [ ]:
# incorrect solution

letters_per_word = len_characters/len_words

print(f"There are {letters_per_word:.2f} letters per word")

---

# Tuples

A tuple is similar to a list and consists of a number of values separated by commas. For instance:

In [ ]:
t = (12345, 54321, 54321, 'hello!')

print(t)

The usual slicing and indexing operators still apply:

In [ ]:
print(t[3])

And similarly, we can use the `count` and `index` functions.

In [ ]:
t.index('hello!')

However, a tuple but is *immutable*. This means that we cannot modify its contents. So the other operators that modify a list do not apply to a tuple.

---

# ⭕ **QUESTIONS?**

---

# Complex Data Structures: Sets

A set is a data structure where all elements are unique. While they are similar to lists, in sets there is **no order** among the items in a set, and sets do **not** support indexing. Sets are ideal for membership queries, i.e., checking if an items appears in the set or not.

## Creating Sets


Sets are specified by curly braces, `{ }`, containing one or more comma separated values. To specify an empty list, you can use the alternative construct, `set()`.

In [ ]:
# creating sets

one_set = {4, 2, 1, 3}

print(one_set)

In [ ]:
two_set = {6, 5, 4, -2}

print(two_set)

In [ ]:
three_set = {5, 0, -3, 4, 4, 4, 4}

print(three_set)

In [ ]:
# creating an empty set; notice that we do *not* use the "empty set = {}" command like you might think

empty_set = set()

print(empty_set)

We can also create a set from a list:

In [ ]:
my_list = [1, 2, 3, 0, 5, 10, 11, 1, 5]
my_set = set(my_list)

print(my_list)
print(my_set)

As expected, the set created from a list does not contain any duplicate elements.

In [ ]:
print("Length of list:", len(my_list))
print("Length of set:", len(my_set))

As seen above, we can use `len()` to get the number of elements in a list. Similarly, we can use the other functions `min()`, `max()`, `sum()`, `sorted()` etc., that we also used for lists.

---

# ⭕ **QUESTIONS?**

---

# Exercise 7

What is the number of _distinct_ words in the `washington_post` variable?

In [ ]:
washington_post = """Russian officials vehemently defended the country s airstrikes in Syria on Thursday as blows to Islamic State militants even as evidence mounted suggesting that U S backed rebels and others were facing the brunt of Moscow s attacks 
And while Russian officials and diplomats rallied behind President Vladimir Putin the Kremlin s stance appeared further clouded by acknowledgments that the missions have already extended beyond solely the Islamic State 
In Paris the Russian ambassador to France Alexander Orlov said the Russian attacks also targeted an al Qaeda linked group Jabhat al Nusra or al Nusra Front 
Syrias ambassador to Russia Riad Haddad echoed that the joint hit list for Russia and the Syrian government included Jabhat al Nusra which is believed to have some coordination with the Islamic State but is still seen mostly as a rival 
We are confronting armed terrorist groups in Syria regardless of how they identify themselves whether it is Jabhat al Nusra the ISIL or others he said using one of the acronyms for the Islamic State 
They all are pursuing ISIL ends he added according to the Interfax news agency 
The ambassadors did not specifically mention any U S and Western backed rebel groups 
But the comment was certain to deepen suspicions by Washington and allies that Putin s short term aim is to give more breathing space to Syria s embattled President Bashar al Assad whose government is strongly supported by Moscow 
Syrian activists meanwhile ramped up their own claims that Moscow was hitting groups seeking to bring down Assad who has managed to hang on during more than four years of civil war 
Russia s expanding military intervention in Syria added urgency to separate efforts by Russia and U S officials to coordinate strategies against the Islamic State and avoid potential airspace missteps between the two powers so called deconfliction talks The Pentagon said the discussions will begin Thursday 
One monitoring group the Britain based Syrian Observatory for Human Rights said Russian airstrikes again struck strongholds of an American backed rebel group Tajamu Alezzah in central Hama province 
The actions quickly criticized by Washington add an unpredictable element to a multilayered war 
The observatory also reported that airstrikes hit the northwestern city Jisr al Shughour which is in the hands of rebel groups including al Nusra after battles last month to drive back Assad s forces 
Among the locations hit was a site near Kafr Nabl the northern Syrian town whose weekly protests against the government often featuring pithy slogans in English won it renown as a symbol of what began as a peaceful protest movement against the Assad regime The local council receives U S assistance and the rebel unit there has received support under a covert CIA program aimed at bolstering moderate rebels 
Raed Fares one of the leaders of the protest movement in Kafr Nabl said warplanes struck a Free Syrian Army checkpoint guarding Roman ruins on the outskirts of the town He said the explosion was bigger than anything local residents had seen in three years of airstrikes conducted by Syrian warplanes 
It made a fire six kilometers wide he told The Washington Post 
Other sites hit on the second day of Russian bombing included locations in the province of Hama The targets suggested the main intention of the strikes was to shore up government control over a corridor of territory linking the capital Damascus to the Assad family s coastal heartland where the Russians are operating out of an expanded air base 
Syrian rebels some of them U S backed had been making slow but steady gains in the area considered one of the government s biggest vulnerabilities There has been no Islamic State presence there since January when moderate rebels rose up against the extremists and forced them to retreat to eastern Syria 
In Washington Sen John McCain R Ariz told CNN he could absolutely confirm that airstrikes hit Western backed groups such as the Free Syrian Army and other factions armed and trained by the CIA 
We have communications with people there said McCain chairman of the Senate Armed Services Committee 
The accounts could not be independently assessed but the main focus of the Russian attacks appeared to be in areas not known to have strong Islamic State footholds 
In Moscow the reply was blunt 
Total rubbish Gennady Zyuganov a member of parliament and leader of Russia s Communist Party said of the U S accusations 
In televised remarks Thursday Putin called accusations that Russian airstrikes had killed civilians in Syria information attacks 
He also addressed concerns about an accidental military clash between Russian and U S led coalition forces saying that his intelligence and military agencies were establishing contacts with counterparts in the United States 
This work is ongoing and I hope that it will conclude with the creation of a regularly acting mechanism he said 
A spokesman for Russia s Defense Ministry Igor Konashenkov said Thursday that warplanes hit a dozen Islamic State sites in the past hours destroying targets including a command center and two arms depots 
The United States and Russia agree on the need to fight the Islamic State but not about what to do with the Syrian president The Syrian civil war which grew out of an uprising against Assad has killed more than people since March and sent millions of refugees fleeing to countries in the Middle East and Europe 
Accusing Russia of pouring gasoline on the fire Defense Secretary Ashton B Carter vowed that U S pilots would continue their year long bombing campaign against the Islamic State in Syria despite Moscow s warning that American planes should stay away from its operations 
I think what they re doing is going to backfire and is counterproductive Carter said on Wednesday 
Yet Russia s military flexing in Syria brought quick overtures from neighboring Iraq where the Islamic State also holds significant territory but the government is within Washington s fold 
Iraq s prime minister Haider al Abadi told France that he would welcome Russia joining the U S led airstrikes against Islamic State targets but there have been no specific discussions 
Joining the protests against the Russian airstrikes was Saudi Arabia a leading foe of Assad and one of Washington s top Middle East allies 
At the United Nations late Wednesday the Saudi ambassador Abdallah al Mouallimi demanded that the Russian air campaign stop immediately and accused Moscow of carrying out attacks in areas outside the control of the Islamic State 
In Iran Assad s main regional backer Foreign Ministry spokeswoman Marzieh Afkham called Russia s military role a step toward resolving the current crisis in Syria """

In [ ]:
# your code here

# Solution

In [ ]:
# let's get our list of words from the big string

words = washington_post.split(" ")

In [ ]:
# let's see how many words we have
print(len(words))

In [ ]:
# by using a set, we will eliminate duplicates

unique_words = set(words)

In [ ]:
# let's see how many unique words we have

print(len(unique_words))

In [ ]:
# when you look at the set, note that capitalization messes things up. We count as different words variations of the 
# same word with different capitalization (e.g, 'President' and 'president'; 'They' and 'they'; etc)

print(sorted(unique_words,key=str.lower))

In [ ]:
# so, let's repeat the process by converting first the string to lowercase, and then creating the words

words = washington_post.lower().split(" ")

In [ ]:
d1 = sorted(set(washington_post.split()))
d2 = sorted(set(washington_post.lower().split()))
d3 = [x.lower() for x in d1] # this is the same as saying for x in d1 print x.lower()

In [ ]:
# as expected, the number of non-distinct words in the list remains the same

print(len(words))

In [ ]:
# however, we have a smaller set of distinct words now

unique_words = set(words)

print(len(unique_words))

---

# ⭕ **QUESTIONS?**

---

# Checking for Membership in a Set

For sets, we can only check if an item appears within the set or not. We achieve this using the `in` operator:

In [ ]:
my_set = {1, 2, 3, 4}

In [ ]:
val = 1

if val in my_set:
    print("The value", val ,"appears in the set", my_set)
else: 
    print("The value", val ,"does not appear in the set", my_set)

In [ ]:
val = 0

if val in my_set:
    print("The value", val ,"appears in the set", my_set)
else: 
    print("The value", val ,"does not appear in the set", my_set)

We also have the `not in` operator, which behaves as expected:

In [ ]:
if val not in my_set:
    print("The value", val ,"does not appear in the set", my_set)
else: 
    print("The value", val ,"appears in the set", my_set)

# Set Operators: Add, Remove Elements

To add and remove elements in a set, we use, respectively the `add` and `remove` commands:

+ `set_a.add(x)`: add an element to a set
+ `set_a.remove(x)`: remove an element from a set

In [ ]:
set_A = set()

set_A.add(1)
set_A.add(2)
set_A.add(3)
set_A.add(4)
set_A.add(5)
set_A.add(6)

set_A

In [ ]:
set_A.remove(6)

set_A

## Set Operators: Union, Intersection, Difference, Subset. Plus, Jaccard Similarity

Sets also support operations that allow us to quickly compute the difference, intersection, and union of two sets. For example:

+ `set_a - set_b`: elements in a but not in b. Equivalent to `set_a.difference(set_b)`
+ `set_a | set_b`: elements in a or b. Equivalent to `set_a.union(set_b)`
+ `set_a & set_b`: elements in both a and b. Equivalent to `set_a.intersection(set_b)`
+ `set_a ^ set_b`: elements in a or b but not both. Equivalent to `set_a.symmetric_difference(set_b)` 
+ `set_a <= set_b`:	tests whether every element in set_a is in set_b. Equivalent to `set_a.issubset(set_b)`

---

# Exercise 8


Try the above yourself using the `set_A` and `set_B` variables, and compute the difference, union, intersection, and symmetric difference, between the two sets.

In [ ]:
# your code here

set_A = {1, 2, 3, 4, 5}
set_B = {4, 5, 6, 7}

print("Set A", set_A)
print("Set B", set_B)
print("Difference A-B", {} )
print("Union", {})
print("Intersection", {})
print("Symmetric Difference", {})

# Solution

In [ ]:
print("Difference A-B", set_A - set_B)

In [ ]:
print("Difference A-B", set_A.difference(set_B))

In [ ]:
print("Union", set_A | set_B)

In [ ]:
print("Union", set_A.union(set_B))

In [ ]:
print("Intersection", set_A & set_B)

In [ ]:
print("Intersection", set_A.intersection(set_B))

In [ ]:
print("Symmetric Difference", set_A ^ set_B)

In [ ]:
print("Symmetric Difference", set_A.symmetric_difference(set_B))

---

# Exercise 9

Now, lets try to use the [Jaccard index similarity](https://en.wikipedia.org/wiki/Jaccard_index) to compute the similarity of the two sets. The Jaccard coefficient is defined as the ratio of the size of the intersection of the two sets, divided by the size of the union of the two sets.

In [ ]:
# your code here

# Solution

In [ ]:
intersection = set_A & set_B

print("The intersection has", len(intersection), "items")

In [ ]:
union = set_A | set_B

print("The union has", len(union), "items")

In [ ]:
jaccard = len(intersection) / len(union)

print("The similarity of set_A with set_B is", jaccard)

---

# ⭕ **QUESTIONS?**

---

# Exercise 10

Below we have two news articles discussing a security breach at Yahoo. We want to compute the similarity of these articles using the Jaccard similarity. (For the sake of simplicity, we have removed all punctuation from the text.)

In [ ]:
wsj = """
Yahoo Inc  disclosed a massive security breach by a  state sponsored actor  affecting at least 500 million users  potentially the largest such data breach on record and the latest hurdle for the beaten down internet company as it works through the sale of its core business 
Yahoo said certain user account information including names  email addresses  telephone numbers  dates of birth  hashed passwords and  in some cases  encrypted or unencrypted security questions and answers was stolen from the company s network in late 2014 by what it believes is a state sponsored actor 
Yahoo said it is notifying potentially affected users and has taken steps to secure their accounts by invalidating unencrypted security questions and answers so they can t be used to access an account and asking potentially affected users to change their passwords 
Yahoo recommended users who haven t changed their passwords since 2014 do so  It also encouraged users change their passwords as well as security questions and answers for any other accounts on which they use the same or similar information used for their Yahoo account 
The company  which is working with law enforcement  said the continuing investigation indicates that stolen information didn t include unprotected passwords  payment card data or bank account information 
With 500 million user accounts affected  this is the largest ever publicly disclosed data breach  according to Paul Stephens  director of policy and advocacy with Privacy Rights Clearing House  a not for profit group that compiles information on data breaches 
No evidence has been found to suggest the state sponsored actor is currently in Yahoo s network  and Yahoo didn t name the country it suspected was involved  In August  a hacker called  Peace  appeared in online forums  offering to sell 200 million of the company s usernames and passwords for about  1 900 in total  Peace had previously sold data taken from breaches at Myspace and LinkedIn Corp 
"""

ust = """
SAN FRANCISCO   Information from at least 500 million Yahoo accounts was stolen from the company in 2014  and the  company said Thursday it believes that a state sponsored actor was behind the hack 
The information may have included names  email addresses  telephone numbers  dates of birth  and  in some cases  encrypted or unencrypted security questions and answers  Yahoo said 
Claims surfaced in early August that a hacker using the name  Peace  was trying to sell the usernames  passwords and dates of birth of Yahoo account users on the dark web   a black market of thousands of secret websites 
The FBI said it was aware of the matter  The compromise of public and private sector systems is something the agency takes very seriously and it said it will continue to investigate and hold accountable all who pose a threat in cyberspace  the agency said in an emailed statement 
Yahoo recommends that users who haven t changed their passwords since 2014 do so  The company said it was notifying potentially affected users and taking steps to secure their accounts  That included invalidating unencrypted security questions and answers and asking users to change their passwords 
The announcement comes as Yahoo looks to complete its  4 8  billion sale of its core Internet business to media giant Verizon Communications  which said it was notified of the Yahoo breach  within the last two days  
 We understand that Yahoo is conducting an active investigation of this matter  but we otherwise have limited information and understanding of the impact   Verizon said 
Given the unsettled nature of Yahoo s ownership just now   regulators should be concerned with who will take responsibility for the response to this compromise  It can be easy for the  right thing to do  to slip through the cracks in a multi billion dollar transition   said Tim Erlin  senior director of IT security and risk strategy at Tripwire  a computer security firm 
Yahoo Chief Executive Officer Marissa Mayer has pledged to stay on with the company through the close of the merger  which is being overseen by Verizon s Marni Walden and AOL CEO Tim Armstrong  Yahoo shares  YHOO  were flat Thursday  Verizon  VZ  shares were up 1  at  52 39 
"""

In [ ]:
# your code here

# Solution

In [ ]:
# first get the words from each article in lowercase and compute the total number of words and the distinct words 

words_wsj = wsj.lower().split(" ")

print("The WSJ article had", len(words_wsj), "words")
print("The WSJ article had", len(set(words_wsj)), "distinct words")

In [ ]:
words_ust = ust.lower().split(" ")

print("The US Today article had", len(words_ust), "words")
print("The US Today article had", len(set(words_ust)), "distinct words")

In [ ]:
# then compute the intersection of the words across the two articles

intersection = set(words_wsj) & set(words_ust)

print("The intersection has", len(intersection), "words")

In [ ]:
# and the union of the words across the two articles

union = set(words_wsj) | set(words_ust)

print("The union has", len(union), "words")

In [ ]:
# now we can compute hte similarity

similarity = len(intersection) / len(union)

print("The similarity of the two articles is", similarity)

---

# ⭕ **QUESTIONS?**

---

# Dictionaries

Dictionaries are data structures containing key-value pairs. 

Dictionaries have a set of unique keys and are used to retrieve the value information associated with these keys. 

For instance, a dictionary might be used to store:
* for each user (the key), that user's location (the value), or 
* for each product id (the key), the description associated with that product (the value). 

Dictionaries are very common and are frequently used and encountered in practice.

## Creating Dictionaries

Dictionaries are specified by curly braces, `{ }`, containing zero or more comma-separated key-value pairs. In each key-value pair the keys and values are separated by a colon, `:`.

In [ ]:
# dictionary with four key value pairs

a_dict = {"a":1, "b":2, "c":3, "d": 4}

# the  a, b, c, d are keys
# the 1, 2, 3, 4 are values

print(a_dict)

In [ ]:
# a key cannot be repeated
# see what happens when we repeat the key "c"

a_dict = {"a":1, "b":2, "c":3, "d": 4, "c": 4}

print(a_dict)

Here is a more realistic dictionary. It contains three keys, "Panos", "Maria", and "John". Each of these keys has a value associated with it, which in the case below corresponds to a phone number.

In [ ]:
phones = {
    
    "Panos": "212-998-0803",
    "Maria": "656-233-5555",
    "John" : "693-232-5776",
}

print(phones)

And here is another dictionary, with three keys, "ip", "logitude", and "latitude", which capture an IP address and its geolocation.

In [ ]:
geoip = {
    
    "longitude": -73.9885,
    "latitude": 40.7317,
    "ip": "216.165.95.68"
}

print(geoip)

## Accessing Dictionary Elements

To access elements in the dictionary we use the key in brackets, or the `get()` command, as follows:

In [ ]:
print(geoip["ip"])

In [ ]:
# or, alternatively

print(geoip.get("ip"))

In [ ]:
print(phones["Panos"])

In [ ]:
# or, alternatively

print(phones.get("Panos"))

---

# ⭕ **QUESTIONS?**

---

# Adding New Entries, Updating Existing Ones, Deleting Entries

We can add an entry in the dictionary by assigning a value to a particular key. If the key already exists, the value assigned to that key gets updatd.

In [ ]:
# add a new key, "isp", with value "New York University"

geoip["isp"] = "New York University"
print(geoip)

In [ ]:
# update the value for "John"

phones['John'] = '415-794-3423'

# add a new key, "Elena", and the corresponding value

phones['Elena'] = '212-998-0803'

print(phones)

If we want to remove a key `x` from the dictionary, the command `dict.pop(x)` removes the key `x` and its associated value from the dictionary

In [ ]:
# remove John from the phones dictionary

phones.pop('John')

print(phones)

---

# ⭕ **QUESTIONS?**

---

# Checking if a Key Appears in a Dictionary

Like the set, the easiest way to check if a particular **key** is in a dictionary is through the `in` keyword:

In [ ]:
"Panos" in phones

In [ ]:
"Jose" in phones

Notice that the `in` will not work if we try to find a value in the dictionary.

In [ ]:
# the in does *not* work for values

'212-998-0803' in phones

# Accessing Keys and Values

Some common operations on dictionaries:

+ `dict.keys()`: returns a list containing the keys of a dictionary
+ `dict.values()`: returns a list containing the values in a dictionary

In [ ]:
phones = {
    
    "Panos": "212-998-0803",
    "Maria": "656-233-5555",
    "John": "693-232-5776",
    "Jake": "415-794-3423"
}

In [ ]:
phones.keys()

In [ ]:
sorted(phones.keys())

In [ ]:
phones.values()

---

# ⭕ **QUESTIONS?**

---

# Exercise 11

* Find the common keys in `a_dict` and `b_dict`
* Find the common values in `a_dict` and `b_dict`

In [ ]:
a_dict = {"a":5 , "b":5, "c":3, "c": 4}
b_dict = {"c":5, "d":6}

# your code here

# Solution

In [ ]:
# lets find the common keys first

# extract the keys from each dictionary

keys_a = a_dict.keys()
keys_b = b_dict.keys()

In [ ]:
# then compute the intersection
# keys are guaranteed to be unique, so the dict_keys behaves like a set, and supports set operations

common_keys = keys_a & keys_b

print("Common keys", common_keys)

In [ ]:
# now let's repeat the process for values 

values_a = a_dict.values()
values_b = b_dict.values()

In [ ]:
# trying to compute the intersection of values will not work if we try to apply it naively.
# the values_a and values_b are not like sets, as they can contain duplicate values

# uncomment the code below to try. You will get:

# "TypeError: unsupported operand type(s) for &: 'dict_values' and 'dict_values'values_a & values_b

In [ ]:
# instead, we have to convert the values_a and values_b variables into sets first, and then compute the intersection

common_values = set(values_a) & set(values_b)

print("Common values", common_values)

---

# Combining (Nesting) Data Structures:

So far, we have examined complex data structures (lists, sets, dictionaries) that contain "scalar" values (integers, strings, boolean, etc). 

In reality, we can store any type of value in these data structures.

Consider the case of the following dictionary:

In [ ]:
phones = {
    
    "Panos": "212-998-0803",
    "Maria": "656-233-5555",
    "John": "693-232-5776",
    "Jake": "415-794-3423"
}

Let's say that we want to have more than one phone assigned to Panos. It is not possible to simply assign the value to a new number, as this will just replace the current phone. For example:

In [ ]:
phones["Panos"] = "917-888-4455"
phones

You see that the phone number associated with `Panos` has the new phone (917-888-4455), and the old one (212-998-0803) has disappeared. So, how can we store multiple elements for the key `Panos`? Nested structures is the solution.

# Creating Nested Data Structures

What we can do instead is to have **a list** as value for the "Panos" key. So, for example, we can rewrite the dictionary as:

In [ ]:
phones = {
    
    "Panos": ["212-998-0803", "917-888-4455"],
    "Maria": ["656-233-5555"],
    "John": ["693-232-5776"],
    "Jake": ["415-794-3423"]
}

And if we check the value for Panos, you will see that we get back a list:

In [ ]:
phones["Panos"]

And then we can add and remove phones for each person:

In [ ]:
phones["Panos"].append("800-929-2923")
phones["Jake"].append("343-342-5455")
phones["Jake"].append("343-656-8766")
phones["Jake"].pop(0)  # remove the first phone for Jake
phones

Alternatively, instead of having a list, we can use a *dictionary* as a value for each key. For example, we can use key values "Work", "Cell", "Home", etc for each phone, and have something like:

In [ ]:
phones = {
    
    "Panos": {
        "Work": "212-998-0803",
        "Cell": "917-888-4455"
    },
    "Maria": {
        "Work": "656-233-5555"
    },
    "John": {
        "Cell": "693-232-5776"
    },
    "Jake": {
        "Home": "415-794-3423"
    }
}

In [ ]:
phones

---

# ⭕ **QUESTIONS?**

---

# Accessing Data within Nested Structures

To access the elements within complex structures, we combine bracket and indexing operators:

In [ ]:
phones = {
    
    'Jake': ['343-342-5455', '343-656-8766'],
    'John': ['693-232-5776'],
    'Maria': ['656-233-5555'],
    'Panos': ['212-998-0803', '917-888-4455', '800-929-2923']
}

So, to access the phones for "Panos" we write

In [ ]:
phones['Panos']

or

In [ ]:
phones.get('Panos')

Now, if we want to access the second phone on the returned list, we write:

In [ ]:
phones['Panos'][1]

In [ ]:
phones.get('Panos')[1]

Similarly, when we have a dictionary that contains dictionaries:

In [ ]:
phones = {
    
    "Panos": {"Work":"212-998-0803", "Cell": "917-888-4455"},
    "Maria": {"Work":"656-233-5555"},
    "John": {"Cell":"693-232-5776"},
    "Jake": {"Home":"415-794-3423"}
}

In [ ]:
phones['Panos']['Cell']

---

# Exercise 12

In [ ]:
citibike_stations = [
    {'station_id': 72,  'capacity': 39, 'coords': {'lon': -73.9939, 'lat': 40.7673}, 'name': 'W 52 St & 11 Ave',   },
    {'station_id': 79,  'capacity': 33, 'coords': {'lon': -74.0067, 'lat': 40.7191}, 'name': 'Franklin St & W Broadway'},
    {'station_id': 82,  'capacity': 27, 'coords': {'lon': -74.0002, 'lat': 40.7673}, 'name': 'St James Pl & Pearl St'},
    {'station_id': 83,  'capacity': 62, 'coords': {'lon': -73.9763, 'lat': 40.6838}, 'name': 'Atlantic Ave & Fort Greene Pl'},
    {'station_id': 116, 'capacity': 39, 'coords': {'lon': -74.0015, 'lat': 40.7418}, 'name': 'W 17 St & 8 Ave'}
]

To access the name of the first station:

In [ ]:
# returns the first station entry
citibike_stations[0]

In [ ]:
# get the name for the first station
citibike_stations[0]['name']

Or to access the coordinates:

In [ ]:
citibike_stations[0]['coords']

And if we want to access the latitude, from the coordinates:

In [ ]:
citibike_stations[0]['coords']['lat']

---

# ⭕ **QUESTIONS?**

---

# Exercise 14

You are given the following data structure.

```python
data = {
    "Panos": {
        "Job":"Professor", 
        "YOB": "1976", 
        "Children": ["Gregory", "Anna"]
    }, 
    "Joe": {
        "Job":"Data Scientist", 
        "YOB": "1981"
    }
}
```

You need to write code that

* Prints the job of Joe
* Prints the year of birth of Panos; prints the age of Panos
* Prints the children of Panos
* Prints the second child of Panos
* Prints the number of people _entries_ in the data. (Notice that it is much harder to find all the people in the data, eg the children)
* Checks if Maria is in the data
* Checks if Anna is in the data
* Checks if Panos has children. 
* Checks if Joe has children. How can you handle the lack of the corresponding key? Would your code work when the list of children is empty, instead of missing?

In [ ]:
# your code here 

data = {
    "Panos": {
        "Job": "Professor",
        "YOB": "1976",
        "Children": ["Gregory", "Anna"]
    },
    "Joe": {
        "Job": "Data Scientist",
        "YOB": "1981"
    }
}

# Solution

In [ ]:
# prints the job of Joe

data['Joe']['Job']

In [ ]:
# prints the year of birth of Panos

data['Panos']['YOB']

In [ ]:
# prints the children of Panos

data['Panos']['Children']

In [ ]:
# prints the second child of Panos

data['Panos']['Children'][1]

In [ ]:
# checks if Maria is in the data

'Maria' in data.keys()

In [ ]:
# checks if Maria is in the data, simpler

'Maria' in data

In [ ]:
# checks if Anna is in the data

'Anna' in data

# notice that the in command *will not* look into the values
# we need to use much more complex code to check all the data, beyond the keys

In [ ]:
# checks if Panos has children

"Children" in data["Panos"]

In [ ]:
# checks if Joe has children

"Children" in data["Joe"]

In [ ]:
# if the "Children" entry under Joe had an empty list, instead of being non-existence then we need to augment
# our condition, and write something like:

"Children" in data["Joe"] and len(data["Joe"]["Children"]) > 0

---

# ⭕ **QUESTIONS?**

---

# Idealized Method for Building a Data Application

## Step 1) GET (Python) 

> Collect (GET) your raw data. 

## Step 2) CLEAN (Python) 

> Clean your raw data. 

## Step 3) TRANSFORM (SQL) 

> Turn your cleaned, raw data into structured data. 

## Step 4) ACTIVATE (SQL/Python) 

> Your data application.

<img src="attachment:Class3Image3.png" width=600/>

# Building a Data App: ACTIVATE

1. Who is your data application's end user? 
2. What is the decision they need to make / analyze? 
- What data do they need to assist in this decision problem? 
3. How does your data application help the user's decision problem? 
- What data application type do tey need? 
- What style of data presentation do tey need? 

#### Note that 1 and 2 should be part of your class presentation to explain your data application's business context.

# Basic Data Application Types

- DESCRIPTIVE: Data that describes actual objects and/or (near) past events to inform business decisions. 
> E.g. Yahoo's Finance market reports for a stock or your bank statement
- PREDICTIVE: Data that predicts the potential change in future objects and/or potential range of future events as outcomes from the possible set of specific, different business conditions and/or decisions. (Uses descriptive data as inputs into its data science models). 
> E.g. Your marketing agency's look-ahead of customer research based on different ad campaign spend levels across various channels (email, digital, TV)
- PRESCRIPTIVE: Data that prescribes the optimal business decision based on predicted outcomes. (Uses predictive and descriptive data as inputs into its data science models). 
> E.g. Amazon's 'Frequently Bought Together' recommendation carousel or your 401K's calculator that predicts a specific future saving based on your current save rate

#### Note that this class will equip you with the skills to create DESCRIPTIVE data apps

There are multiple ways to display data, and the best way to know which way to use is to understand your user and the problem that they are looking to solve, then work backwards: 

#### Transform
1. What data is needed to create the data application (dimensions/grains, facts/metrics)?
2. Does the data need to be mapped/combined together (e.g., Combine two datasets together based on date?) 
3. Do you need to create new, calculated data points from the input data (e.g., Divide total clicks by total page views to calculate click-through rate)? 

#### Clean
4. What data fields must be cleaned/prepped/fixed to ensure quality data is available for metrics calculations? 
5. What data fields must be cleaned/prepped/fixed to ensure quality data is available for mapping datasets?

#### Get
6. What trustable data fields and/or data sets do you need to create the data application? 
7. What form do the datasets need to take to enable cleaning, transforming, and activation? 
8. Where can you get that data?

---

# Group Project Method

1. Start with "GET" – find out which public data sources interest you (if you are using your company's data, see me)
2. Then, kick off the idezlied method

# Milestones

Class 6 > Select your public dataset(s) and define the data app <br> 
Class 7 > Kickoff design and coding for your data app's get, clean, and transform stages <br>
Class 8 > Kickoff design and coding for your data app's activate stage <br>
Class 9 > Finish coding for your data pipeline and app <br>
Class 10 > Test run your data app and its pipeline <br>
Class 12 > Group presentations

---

# ⭕ **QUESTIONS?**

---